# Задаем кодировку для типов text/plain или text/html.
# Лучше UTF-8, чтобы не было проблем с русскими УРЛами
AddDefaultCharset utf-8
 
# Если mod_charset есть на сервере
<IfModule mod_charset.c>
    # Отключаем перекодировку
    CharsetDisable On
     
    # Кодировка, в которой документы хранятся на диске
    CharsetSourceEnc utf-8
     
    # Кодировка по-умолчанию для данного сервера
    CharsetDefault utf-8
</IfModule>
 
# Позволяем следовать символическим ссылкам
Options +FollowSymLinks
 
# Если mod_rewrite есть на сервере
<IfModule mod_rewrite.c>
 
    # Включаем mod_rewrite
    RewriteEngine On
 
    # Задаём "базовую" директорию,
    # относительно которой идут все запросы
    RewriteBase /
 
    # Если запрашиваем реальная папка или файл
    # ничего не делаем, иначе "заворачиваем" все запросы
    # на index.php, который лежит в RewriteBase
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /index.php [L,QSA]
 
</IfModule>